<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .img-container {
            margin-top: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .gift-container {
            display: flex;
            justify-content: center;
        }

        .tree {
            width: 400px;
            height: auto;
        }

        .gift {
            width: 200px;
            height: auto;
        }
    </style>

</head>
<body>
    <h1 class="img-container">
        С новым годом, Друзья!
    </h1>
    <div class="img-container">
        <img class="tree" src="https://c.pxhere.com/photos/a4/2c/christmas_tree_christmas_tree_christmas_christmas_pine_happy_holidays_twigs_needle_christmas_decoration-1216018.jpg!d" alt="">
        <div class="gift-container">

            <a href="https://plus.s3.yandex.net/gift-certs/certificate-9957db36929f513017e26a8829b758f1.pdf">
                <img class="gift" src="https://im0-tub-ru.yandex.net/i?id=2f90f1b7193d32ba4b0858ea3c1e5570&n=13" alt="">
                <h3>Стас</h3>
            </a>
            <a href="https://plus.s3.yandex.net/gift-certs/certificate-e7609510f2e1e979b788fc1dfd5d2e36.pdf">
                <img class="gift" src="https://im0-tub-ru.yandex.net/i?id=2f90f1b7193d32ba4b0858ea3c1e5570&n=13" alt="">
                <h3>Маша</h3>
            </a>
            <a href="https://plus.s3.yandex.net/gift-certs/certificate-d8d7781a5315d7f857d04e0612788f55.pdf">
                <img class="gift" src="https://im0-tub-ru.yandex.net/i?id=2f90f1b7193d32ba4b0858ea3c1e5570&n=13" alt="">
                <h3>Кирилл</h3>
            </a>
            <a href="https://plus.s3.yandex.net/gift-certs/certificate-2ac4e1f3121aeee904a9be015f9b047c.pdf">
                <img class="gift" src="https://im0-tub-ru.yandex.net/i?id=2f90f1b7193d32ba4b0858ea3c1e5570&n=13" alt="">
                <h3>Настя</h3>
            </a>
            <a href="https://plus.s3.yandex.net/gift-certs/certificate-cdfe72d923c0260e56ad7d10d7420fbd.pdf">
                <img class="gift" src="https://im0-tub-ru.yandex.net/i?id=2f90f1b7193d32ba4b0858ea3c1e5570&n=13" alt="">
                <h3>Милена</h3>
            </a>
        </div>
    </div>
</body>
</html>