<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .img-container {
            margin-top: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .gift-container {
            display: flex;
            justify-content: center;
        }

        .tree {
            width: 400px;
            height: auto;
        }

        .gift {
            width: 200px;
            height: auto;
        }
    </style>

</head>
<body>
    <h1 class="img-container">
        С новым годом, Леррррра!!!
    </h1>
    <div class="img-container">
        <img class="tree" src="https://c.pxhere.com/photos/a4/2c/christmas_tree_christmas_tree_christmas_christmas_pine_happy_holidays_twigs_needle_christmas_decoration-1216018.jpg!d" alt="">
        <div class="gift-container">
            <a href="https://s3-eu-west-1.amazonaws.com/media.ticketscloud/production/ticket/2019-12/09428aa824a711ea84db0242ac120002/HXX-467556.pdf">
                <div>
                    <img class="gift" src="https://im0-tub-ru.yandex.net/i?id=2f90f1b7193d32ba4b0858ea3c1e5570&n=13" alt="">
                </div>
            </a>
        </div>
    </div>
</body>
</html>